# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs/Restaurant-Reservation-System/FileContentIndex/9af69f1a-391d-4fa9-82ba-001e8ce288b8.vsidx
.vs/slnx.sqlite
